.row
{
    margin : 0px;
}
.navbar
{
    border-radius: 0px;
}
.intro-center
{
	width : 40%;
	margin : 10% auto;
    font-family: 'Roboto', Arial, Helvetic, sans-serif;
}
.intro-center .intro-border
{
    border: 1px solid #ddd;
    border-radius : 5px;
    padding : 20px;
}
.intro-center .intro-footer
{
    text-align : right;
    font-size: .9em;
    color : #999;
}
.intro-heading
{
    color : #777;
}
